# ==========================================
# Production Environment
# ==========================================

NODE_ENV=production

# Backend Server Port
PORT=8080

// CORS Origin for Frontend
CORS_ORIGIN=http://localhost:4173

# JWT Secrets
JWT_SECRET=your_production_jwt_secret
JWT_REFRESH_SECRET=your_production_refresh_secret

# Domain URL
BASE_URL=https://yourdomain.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# PostgreSQL
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>"