# ==========================================
# Development Environment
# ==========================================

NODE_ENV=development

# Backend Server Port
PORT=3000

// CORS Origin for Frontend 
CORS_ORIGIN=http://localhost:5173

# JWT Secrets (Development Only)
JWT_SECRET=your_dev_jwt_secret
JWT_REFRESH_SECRET=your_dev_refresh_secret

# API Base URL
BASE_URL=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# PostgreSQL
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>"